doctype
html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gravitas+One|Vollkorn")
    link(rel="stylesheet" href="/main.css")
  body
    .container
      != yield
