body{
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
  font-family: 'Helvetica Neue';
  font-weight:300;
  line-height: 1.6;

  .container {
    width: 80%;
    min-width: 300px;
    max-width: 1200px;
    margin: 0px auto;
  }
}

a {
  color: rgb(211,70,30) !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h6{
  border-bottom: #CCC solid 1px;
  font-family: 'Vollkorn', serif;
}
main {
  width: calc(100% - 250px);
  display:inline-block;
}
aside {
  float:right;
  border-left:1px solid #ccc;
  display:inline-block;
  width: 200px;
}