- var path = current.path.slice(-2,-1)[0];
- var currentLocation = public[path]._contents;
- var currentLocation = currentLocation.filter(item => item !== 'index.html');
- console.log('blue', currentLocation)
main
  != partial('index.md')
aside: ul
    for location in currentLocation
      li: a(href="./#{location}")= location.split('-').join(' ').split('.').slice(0, 1)
  //- var thispartial = './'+location.split('.').slice(0, 1);
  //!= partial(thispartial)
  //- var split = partial(thispartial).match(/<\s*(\w+\b)(?:(?!<\s*\/\s*\1\b)[\s\S])*<\s*\/\s*\1\s*>|\S+/g);
  //for e in split
  //  != e

- var filter = /(\.html$)/;
- var replace = /(\.html$)|(^index\.html$)/;

mixin tree(head, tail)
  for val, key in head
    if key !== '.git' && key !== '_data'
      if key == '_contents'
        each file in val
          if filter.test(file) && !/^404\.html/.test(file)
            - file = file.replace(replace, "");
            li: a(href="#{ tail + file }")= tail + file
      else
        mixin tree(val, tail + key + "/")

//h1 Sitemap
//ol
//  mixin tree(public, "/")
